DB_HOST=localhost
DB_USER=user
DB_PASS=
DB_NAME=


# Credenciales api gmail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=  # MAIL_FROM
MAIL_KEY=
MAIL_CLIENT_ID=
MAIL_AUTH_URI=https://accounts.google.com/o/oauth2/auth
MAIL_TOKEN_URI=https://oauth2.googleapis.com/token
MAIL_CLIENT_SECRET=

MAIL_AUTH_CODE=
MAIL_REFRESH_TOKEN=
MAIL_ACCESS_TOKEN=